<div class="container mt-5 mb-2">

  <div class="row">

    <div class="col-xs-12 mx-auto">

      <div class="text-center">

        <p>

          長野県のケーキ屋。</br>
          地元の方々と協力して様々な商品を開発しています。<br>
          お客様に最高の時間をお届けします<br>
          <p class="mt-2 mb-1">Let's Go!!<%= link_to "Sign_up", new_customer_registration_path, class: "btn btn-outline-success btn-sm ml-1" %></p><br>

        </p>

      </div>

    </div>

  </div>

</div>