<div class="container">

  <div class="row">

    <div class="col-xs-12 mx-auto">

      <div class="text-center">

        <p class="mt-4 mb-2">

          <h5>Welcome Nagano Cake</h5></br>
          長野県にある洋菓子店「ながのCAKE」の通販サイトです。</br>
          会員でない方も商品の閲覧はできますが、</br>
          商品を購入するには会員登録が必要になります。</br>

        </p>

      </div>

    </div>

  </div>

</div>

<div class="container mb-4">

  <h1>新着商品</h1>

  <div class="row mb-4">
    <% @items.first(3).each do |item| %>

      <%= link_to item_path(item) do %>

        <%= image_tag item.get_image(200,200) %>

      <% end %>

    <% if item.is_active == true %>

      <p><%= item.price %>円(税込)</p>

    <% else %>

      <p>販売停止中</p>

    <% end %>

    <% end %>

  </div>

<%= link_to "商品一覧へ", items_path, class: "btn btn-outline-info btn-lg mx-auto" %>

</div>
