<p>

  <span>Welcome Nagano Cake</span></br>
  長野県にある洋菓子店「ながのCAKE」の通販サイトです。</br>
  会員でない方も商品の閲覧はできますが、</br>
  商品を購入するには会員登録が必要になります。</br>

</p>

<h1>新着商品</h1>

<% @items.first(3).each do |item| %>

  <%= link_to item_path(item) do %>

    <%= image_tag item.get_image(200,200) %>

  <% end %>

  <% if item.is_active == true %>

    <p><%= item.price %>円(税込)</p>

  <% else %>

    <p>販売停止中</p>

  <% end %>

<% end %>

<%= link_to "商品一覧へ", items_path %>
