<% genre.each do |genre| %>


  <tr>

    <td><%= genre.name %></td>

    <td><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-outline-success mt-4 ml-3 mr-3 mb-4 " %></td>

  </tr>

<% end %>